.single-container
  %header.single-header
    %h1
      %a
        = image_tag 'logo.svg'
    %nav.progress-bar.signup-bar
      %ol.clearfix
        %li.active
          会員情報
          .progress-status
        %li
          電話番号認証
          .progress-status
        %li
          住所入力
          .progress-status
        %li
          支払い方法
          .progress-status
        %li
          完了
          .progress-status
  %main.single-main
    %section.l-single-container
      %h2.l-single-container__head 住所入力
      .l-single-inner
        / = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = form_with url: address_info_keep_path do |f|
          .l-single-content
            .form-group
              = f.label :お名前
              %span.form-require 必須
              = f.text_field :first_name, autofocus: true, placeholder: '例)大丸', class: 'login-input-text input-default'
              = f.text_field :last_name, autofocus: true, placeholder: '例)渓一郎', class: 'login-input-text input-default'
            .form-group
              = f.label :お名前カナ
              %span.form-require 必須
              = f.text_field :first_name_kana, autofocus: true, placeholder: '例)ダイマル', class: 'input-default'
              = f.text_field :last_name_kana, autofocus: true, placeholder: '例)ケイイチロウ', class: 'input-default'
            .form-group
              = f.label :郵便番号
              %span.form-require 必須
              = f.text_field :postal_code, autofocus: true, placeholder: '例)114-514', class: 'input-default'
            .form-group
              =f.label :都道府県
              %span.form-require 必須
              .select-wrap
                %select{name: "prefecture",class:"select-default"}
                  %option 北海道
                  %option 青森県
                  %option 岩手県
                  %option 宮城県
                  %option 秋田県
                  %option 山形県
                  %option 福島県
                  %option 茨城県
                  %option 栃木県
                  %option 群馬県
                  %option 埼玉県
                  %option 千葉県
                  %option 東京都
                  %option 神奈川県
                  %option 新潟県
                  %option 富山県
                  %option 石川県
                  %option 福井県
                  %option 山梨県
                  %option 長野県
                  %option 岐阜県
                  %option 静岡県
                  %option 愛知県
                  %option 三重県
                  %option 滋賀県
                  %option 京都府
                  %option 大阪府
                  %option 兵庫県
                  %option 奈良県
                  %option 和歌山県
                  %option 鳥取県
                  %option 島根県
                  %option 岡山県
                  %option 広島県
                  %option 山口県
                  %option 徳島県
                  %option 香川県
                  %option 愛媛県
                  %option 高知県
                  %option 福岡県
                  %option 佐賀県
                  %option 長崎県
                  %option 熊本県
                  %option 大分県
                  %option 宮崎県
                  %option 鹿児島県
                  %option 沖縄県
                  %option 未定
                = fa_icon 'angle-down', class: 'icon-arrow-bottom'
            .form-group
              = f.label :市町村
              %span.form-require 必須
              = f.text_field :municipalities, autofocus: true, placeholder: '例)114-514', class: 'input-default'
            .form-group
              = f.label :番地
              %span.form-require 必須
              = f.text_field :address_number, autofocus: true, placeholder: '例)114-514', class: 'input-default'
            .form-group
              = f.label :番地
              %span.form-require 任意
              = f.text_field :building, autofocus: true, placeholder: '例)114-514', class: 'input-default'
            .form-group
              = f.label :電話番号
              %span.form-require 任意
              = f.text_field :phone_number, autofocus: true, placeholder: '例)114-514', class: 'input-default'
            = f.submit "次に進む", class: 'btn-default btn-red'
  = render 'shared/footer2'
