.default-container
  = render 'shared/header'
  = render 'shared/nav'
  %main.l-container.clearfix
    .l-content
      %section.l-chapter-container.mypage-identification
        %h2.l-chapter-container__head 本人情報の登録
        %p.text-center お客さまのあんしん・あんぜんな取引のため、本人情報のご登録をお願いしております。
        %form.l-single-inner
          .form-group
            %label 住所
            %span.form_require 必須
            .address-info
              %address
                %p 〒000-0000
                %p 茨城県つくば市松代0-00-000
                %p 大丸 渓一郎
              %a 編集
          .form-group
            %label 生年月日
            %span.form_require 必須
            %br
            .birthday-select-wrap
              .select-wrap
                %select.select-default
                = fa_icon 'angle-down', class: 'icon-arrow-bottom'
              %span 年
            .birthday-select-wrap
              .select-wrap
                %select.select-default
                = fa_icon 'angle-down', class: 'icon-arrow-bottom'
              %span 月
            .birthday-select-wrap
              .select-wrap
                %select.select-default
                = fa_icon 'angle-down', class: 'icon-arrow-bottom'
              %span 日
            %p.form-info-text ※出品されたことがある、本人情報未登録のお客さまもご対象となります。
          %button.btn-default.btn-red 登録する
          .form-group.text-right
            %p
              %a
                本人情報の登録について
                = fa_icon 'angle-right', class: 'icon-arrow-right'
    .l-side
      = render 'shared/side'
  = render 'shared/footer'
