.default-container
  = render 'shared/header'
  = render 'shared/nav'
  %main.l-container.clearfix
    .l-content
      %section.l-chapter-container
        %form.l-single-inner
          .l-single-content
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn-default btn-red'
    .l-side
      = render 'shared/side'
  = render 'shared/footer'
