
.single-container
  %header.single-header
    %h1
      %a
        = image_tag 'logo.svg'
  %main.single-main
    .login-panel
      .login-panel__no-account
        %p アカウントをお持ちでない方はこちら
        = link_to "新規会員登録", new_user_path
      .login-form-inner
        %button.btn-default.btn-sns.btn-sns-facebook
          %i.fab.fa-facebook-square.icons__facebook
          facebookでログイン
        %button.btn-default.btn-sns.btn-sns-google
          %i.fab.fa-google-plus-square.icon-google-plus-square
          Googleでログイン
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .login-form-inner
          .form-group
            / %input.input-default.login-input-text{placeholder: 'メールアドレス', type:'email'}
            = f.email_field :email, autofocus: true, autocomplete: "email",placeholder: 'メールアドレス', type:'email', class:'input-default login-input-text'
          .form-group
            = f.password_field :password, autocomplete: "current-password",placeholder: 'パスワード', type:'password', class:'input-default login-input-text'
          .form-group
            = f.submit "ログイン", class:'btn-default login-submit btn-red'
          %a パスワードをお忘れの方
  %footer.single-footer
    %nav
      %ul.clearfix
        %li
          %a プライポリシー
        %li
          %a メルカリ利用規約
        %li
          %a 特定商取引に関する表記
    %a.single-footer__logo
      = image_tag 'logo-gray.svg'
    %p
      %smal © 2018 Mercari
      = link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path

