.default-container
  = render 'shared/header'
  = render 'shared/nav'
  %section.l-single-container.item-box-container
    %h1.item_name
      = @item.name
    .item-main-content.clearfix
      .item-photo
        .owl-carousel.owl-loaded.owl-drag
          .owl-stage-outer
            .owl-stage{style: "left:0px; width: 1200px;"}
              .owl-item{style: "width: 300px;"}
                .owl-item-inner.is-higher-width
                  = image_tag "#{@item.images.first.image}",class: 'owl-lazy',style: "opacity: 1;"
      %table.item-detail-table
        %tbody
          %tr
            %th
              出品者
            %td
              %a
                = @item.user.nickname
              %div
                %div.item-user-ratings
                  = fa_icon 'smile', class: 'icon-good'
                  %span 80
                %div.item-user-ratings
                  = fa_icon 'meh', class: 'icon-normal'
                  %span 3
                %div.item-user-ratings
                  = fa_icon 'frown-open', class: 'icon-bad'
                  %span 1
          %tr
            %th
              カテゴリー
            %td
              %a
                %div レディース
              %a
                %div.item-detail-table__sub-category
                  = fa_icon 'chevron-right'
                  ワンピース
              %a
                %div.item-detail-table__sub-sub-category
                  = fa_icon 'chevron-right'
                  ひざ丈ワンピーズ
          %tr
            %th
              ブランド
            %td
              %a
                %div Milkboy
          %tr
            %th
              商品のサイズ
            %td
              = @item.size
          %tr
            %th
              商品の状態
            %td
              = @item.condition
          %tr
            %th
              配送者の負担
            %td
              = @item.delivery_burden
          %tr
            %th
              配送の方法
            %td
              = @item.delivery_method
          %tr
            %th
              配送元地域
            %td
              = @item.delivery_from
          %tr
            %th
              発送日の目安
            %td
              = @item.delivery_days
              日
    .item-price-box.text-center
      %span.item-price.bold
        ¥
        = @item.price
      %span.item-tax (税込)
      %span.item-shipping-fee 送料込み
      = form_tag(pay_item_path, method: :post) do
        = submit_tag("購入画面に進む", class: "btn f18-24")
      %a.item-buy-btn.f18-24 購入画面に進む
    .item-description.f14
      %p.item-description__inner
        = @item.description
    .item-button-container.clearfix
      .item-button-left
        %button.item-button.item-button__like
          = fa_icon 'heart'
          %span いいね！
          %span.fade-in-down 0
        %a.item-button.item-button-report.clearfix
          = fa_icon 'flag'
          %span 不適切な商品の報告
      .item-button-right
        %a
          = fa_icon 'lock'
          %span あんしん・あんぜんへの取り組み
  .item-detail-message
    .message-container
      .message-content
        %form.message-form
          %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %textarea.textarea-default
          %button.message-submit.btn-default.btn-gray
            %span コメントする
  %ul.nav-item-link-prev-next.clearfix
    %li.nav-item-link-prev
      %a
        = fa_icon 'angle-left', class: 'icon-arrow-left'
        ノースフェイス バルトロライトジャケット THE north face
    %li.nav-item-link-next
      %a
        【値下げしました】読売ジャイアンツ ユニフォーム 長野選手
        = fa_icon 'angle-right', class: 'icon-arrow-right'
  .item-social-media-box
    %ul.social-media-box
      %li
        %a
          %i.fab.fa-facebook-square.icons__facebook
      %li
        %a
          %i.fab.fa-twitter.icons__twitter
      %li
        %a
          %i.fab.fa-pinterest.icons__pinterest
  .items-in-user-profile
    %section.items-box-container.clearfix.items-box-overflow.items-in-user-profile
      %h2.items-box-head
        %a
          = @item.user.nickname
          さんのその他の商品
      .items-box-content.clearfix
        = render @items
  = render 'shared/footer'
